:root {
  --red-clr: #CC0000;
  --dark-red-clr: #910000;
}

/* Carousel section */
.matches-section {
  --background-color: #F7F7F7;
  --border-color: #DFDFDF;
  background-color: #F7F7F7;
  border: 1px solid var(--border-color);
  box-shadow: 0 2px 4px 2px rgb(0 0 0 / 0.05);
}

.custom-carousel {
  position: relative;
  overflow-x: scroll;
  scroll-behavior: smooth;
  border-left: 1px solid var(--border-color);
}

.custom-carousel__show-more {
  --text-color: #0072D8;
  --text-color-hover: #68A5DC;
  position: absolute;
  top: 0.25rem;
  right: 0px;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  justify-content: center;
  font-weight: bold;
  font-size: 0.8125rem;
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
  z-index: 1;
}

.custom-carousel__show-more::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--background-color);
  box-shadow: 0 0 20px 0 var(--background-color);
  z-index: -1;
}

.custom-carousel__show-more svg {
  fill: var(--text-color);
  margin-left: 0.25rem;
}

.custom-carousel__show-more:hover {
  color: var(--text-color-hover)
}

.custom-carousel__show-more:hover svg {
  fill: var(--text-color-hover);
}

.custom-carousel::-webkit-scrollbar {
  height: 8px;
}

.custom-carousel::-webkit-scrollbar-track {
  background-color: var(--border-color);
}

.custom-carousel::-webkit-scrollbar-thumb {
  background: var(--red-clr);
  border-radius: 0.25rem;
}

.custom-carousel::-webkit-scrollbar-thumb:hover {
  background: var(--dark-red-clr);
  cursor: pointer
}

.custom-carousel__controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0.625rem;
  background-color: #CCCCCC;
  border: none;
  outline: none;
  transition: background-color 200ms ease-in-out;
}

.custom-carousel__left-btn {
  left: 0;
}

.custom-carousel__right-btn {
  right: 0;
}

.custom-carousel__controls:hover,
.custom-carousel__controls:focus {
  background-color: #919191;
}

.custom-carousel__left-arrow-svg {
  transform: rotateY(180deg);
}

.custom-carousel__left-arrow-svg,
.custom-carousel__right-arrow-svg {
  fill: #FFFFFF;
}

.custom-carousel__section {
  flex-direction: column;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  padding: 0.5rem;
  /* padding-right: 0.5rem; */
}

.custom-carousel__section:first-of-type {
  border-left: none;
}

.custom-carousel__section:last-of-type {
  border-right: none;
}

.custom-carousel__section-title {
  font-weight: bold;
  font-size: 0.8125rem;
  text-transform: uppercase;
}

.custom-carousel__list {
  gap: 0.375rem;
  margin-top: 0.25rem;
}

.custom-carousel__list-item {
  padding: 0.25rem;
  background-color: #FFFFFF;
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
}

.custom-carousel__item {
  min-width: 12rem;
  width: fit-content;
}

.custom-carousel__start-time {
  font-weight: bold;
  font-size: 0.6875rem;
  text-align: center;
}

.custom-carousel__teams-container {
  border-radius: 0.25rem;
}

.custom-carousel__team-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.custom-carousel__team-item img {
  height: 1.25rem;
  margin-right: 0.25rem;
}

.custom-carousel__team-name {
  font-size: 0.875rem;
  margin-right: 0.25rem;
}

.custom-carousel__team-name a {
  text-decoration: none;
}

.custom-carousel__team-result {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  font-weight: bold;
  padding: 0.25rem 0.75rem;
  border: 1px solid var(--border-color);
}

@media screen and (min-width: 576px) {
  .matches-section__form {
    width: 6rem;
  }
}