:root {
  --red-clr: #CC0000;
  --dark-red-clr: #910000;
  --black-color: #1F1F1F;
}

body,
input,
button,
ul,
ol {
  font-family: 'Roboto', Arial, sans-serif;
}

/* Carousel section */
.matches-section {
  --background-color: #F7F7F7;
  --border-color: #DFDFDF;
  background-color: #F7F7F7;
  border: 1px solid var(--border-color);
  box-shadow: 0 2px 4px 2px rgb(0 0 0 / 0.05);
}

.custom-carousel__container {
  position: relative;
  overflow: hidden;
}

.custom-carousel {
  position: relative;
  overflow-x: scroll;
  scroll-behavior: smooth;
  border-left: 1px solid var(--border-color);
}

.custom-carousel__show-more {
  --text-color: #0072D8;
  --text-color-hover: #68A5DC;
  position: absolute;
  top: 0.25rem;
  right: 0px;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  justify-content: center;
  font-weight: bold;
  font-size: 0.8125rem;
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
  z-index: 1;
}

.custom-carousel__show-more::before {
  content: '';
  position: absolute;
  inset: 0 -3px;
  background-image: radial-gradient(circle at center, var(--background-color) 75%, transparent);
  z-index: -1;
}

.custom-carousel__show-more svg {
  fill: var(--text-color);
  margin-left: 0.25rem;
}

.custom-carousel__show-more:hover {
  color: var(--text-color-hover)
}

.custom-carousel__show-more:hover svg {
  fill: var(--text-color-hover);
}

.custom-carousel::-webkit-scrollbar {
  height: 8px;
}

.custom-carousel::-webkit-scrollbar-track {
  background-color: var(--border-color);
}

.custom-carousel::-webkit-scrollbar-thumb {
  background: var(--red-clr);
  border-radius: 0.25rem;
}

.custom-carousel::-webkit-scrollbar-thumb:hover {
  background: var(--dark-red-clr);
  cursor: pointer
}

.custom-carousel__controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0.625rem;
  background-color: #CCCCCC;
  border: none;
  outline: none;
  transition: background-color 200ms ease-in-out;
  z-index: 2;
}

.custom-carousel__left-btn {
  left: 0;
}

.custom-carousel__right-btn {
  right: 0;
}

.custom-carousel__controls:hover,
.custom-carousel__controls:focus {
  background-color: #919191;
}

.custom-carousel__left-arrow-svg {
  transform: rotateY(180deg);
}

.custom-carousel__left-arrow-svg,
.custom-carousel__right-arrow-svg {
  fill: #FFFFFF;
}

.custom-carousel__section {
  flex-direction: column;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  padding: 0.5rem;
}

.custom-carousel__section:first-of-type {
  border-left: none;
}

.custom-carousel__section:last-of-type {
  border-right: none;
}

.custom-carousel__section-title {
  font-weight: bold;
  font-size: 0.8125rem;
  text-transform: uppercase;
}

.custom-carousel__list {
  gap: 0.375rem;
  margin-top: 0.25rem;
}

.custom-carousel__list-item {
  padding: 0.25rem;
  background-color: #FFFFFF;
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
}

.custom-carousel__list-item--active {
  border-top-color: var(--red-clr);
}

.custom-carousel__list-item--active .custom-carousel__start-time {
  position: relative;
  display: inline-block;
  color: var(--red-clr);
  text-transform: uppercase;
  margin-left: 0.5rem;
}

.custom-carousel__list-item--active .custom-carousel__start-time::before {
  --width: 6px;
  content: '';
  position: absolute;
  right: calc(100% + var(--width));
  top: 50%;
  width: var(--width);
  height: var(--width);
  background-color: var(--red-clr);
  border-radius: 50%;
  transform: translateY(-50%);
}

.custom-carousel__item {
  min-width: 12rem;
  width: fit-content;
}

.custom-carousel__start-time {
  font-weight: bold;
  font-size: 0.6875rem;
  text-align: center;
  align-self: center;
}

.custom-carousel__teams-container {
  border-radius: 0.25rem;
}

.custom-carousel__team-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.custom-carousel__team-item img {
  height: 1.25rem;
  margin-right: 0.25rem;
}

.custom-carousel__team-name {
  font-size: 0.875rem;
  margin-right: 0.25rem;
}

.custom-carousel__team-name a {
  text-decoration: none;
}

.custom-carousel__team-result {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  font-weight: bold;
  padding: 0.25rem 0.75rem;
  border: 1px solid var(--border-color);
}

@media screen and (min-width: 36rem) {
  .matches-section__form {
    width: 6rem;
  }
}

/* Custom card */
.custom-card {
  background-color: #F5F7FA;
  font-family: 'Barlow Condensed', Arial, Helvetica, sans-serif;
}

.custom-card__img {
  object-fit: cover;
  max-width: 100%;
}

.custom-card__body {
  padding: 0.25rem;
}

.custom-card__category {
  word-break: break-word;
  letter-spacing: 0;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--red-clr);
  font-size: 0.875rem;
}

.custom-card__headline {
  word-break: break-word;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}

.custom-card__author {
  word-break: break-word;
  letter-spacing: 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.custom-card__comments-link {
  text-decoration: none;
}

.custom-card__comments svg {
  width: 0.9375rem;
  height: 0.875rem;
}

.custom-card__comments span {
  font-size: 0.75rem;
  color: #0465C8;
}

.custom-card__comments-link:hover .custom-card__comments span {
  text-decoration: underline;
}

/* Custom card variations */
.custom-card--big {
  background-color: transparent;
}

.custom-card--big .custom-card__body {
  padding: 0;
}

.custom-card--small {
  display: flex;
  flex-direction: row-reverse;
}

.custom-card--small .custom-card__body {
  width: 65%;
}

.custom-card--small .custom-card__img {
  width: 35%;
}

@media screen and (min-width: 36rem) {
  .custom-card__category {
    font-size: 0.9325rem;
  }

  .custom-card__headline {
    font-size: 1.125rem;
  }

  .custom-card__author {
    font-size: 0.8125rem;
  }

  .custom-card--big .custom-card__headline {
    font-size: 1.375rem;
  }
}

@media screen and (min-width: 48rem) {
  .custom-card__category {
    font-size: 1rem;
  }

  .custom-card__headline {
    font-size: 1.25rem;
  }

  .custom-card__author {
    font-size: 0.875rem;
  }

  .custom-card--big .custom-card__headline {
    font-size: 1.5rem;
  }
}

/* Grid */
.custom-grid-container {
  display: grid;
  grid-template-rows: (5, 1fr);
  gap: 0.5rem;
}

.custom-grid-container article:nth-child(1) {
  grid-row: 1 / 4;
}

@media screen and (min-width: 48rem) {
  .custom-grid-container {
    grid-template-columns: (2, 1fr);
    grid-template-rows: (4, 1fr);
  }

  .custom-grid-container article:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

  .custom-grid-container article:nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
}

@media screen and (min-width: 64rem) {
  .custom-grid-container {
    grid-template-columns: (3, 1fr);
    grid-template-rows: (3, 1fr);
  }

  .custom-grid-container article:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
  }

  .custom-grid-container article:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .custom-grid-container article:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .custom-grid-container article:nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
}

/* Footer section */
.footer__navbar {
  --white-clr: #F7F7F7;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  gap: 1rem;
  font-size: 0.875rem;
}

.footer__navbar-link {
  text-decoration: none;
  color: var(--white-clr);
  font-size: 0.8125rem;
}

.footer__navbar-list a:hover {
  color: var(--red-clr);
  text-decoration: underline;
}

.footer__about-container {
  font-size: 0.875rem;
}

.footer__about-list {
  flex-direction: column;
  font-size: 0.8125rem;
}

.footer__about-list li {
  margin-right: 0.5rem;
}

.footer__about-list a {
  color: var(--black-color);
  text-decoration: none;
}

.footer__about-list a:hover {
  text-decoration: underline;
}

.footer__about-list li {
  text-align: center;
}

.footer__socials-list {
  gap: 0.75rem;
}

.footer__socials-icons a {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.footer__socials-icons:nth-of-type(1) a {
  background-color: #3B5998;
}

.footer__socials-icons:nth-of-type(2) a {
  background-color: #55ACEE;
}

.footer__socials-icons:nth-of-type(3) a {
  background-color: #D96D00;
}

@media screen and (min-width: 23.5rem) {
  .footer__navbar {
    grid-template-columns: repeat(2, 1fr);
    text-align: start;
  }

  .footer__about-list {
    flex-flow: row wrap;
  }

  .footer__socials-list {
    gap: 0.8125rem;
  }

  .footer__socials-icons a {
    width: 28px;
    height: 28px;
  }
}

@media screen and (min-width: 36rem) {
  .footer__navbar {
    grid-template-columns: repeat(4, 1fr);
    font-size: 0.9325rem;
  }

  .footer__navbar-link {
    font-size: 0.875rem;
  }

  .footer__about-container {
    font-size: 0.9325rem;
  }

  .footer__about-list {
    font-size: 0.875rem;
  }

  .footer__socials-list {
    gap: 0.875rem;
  }

  .footer__socials-icons a {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 48rem) {
  .footer__navbar {
    font-size: 1rem;
  }

  .footer__navbar-link {
    font-size: 0.9325rem;
  }

  .footer__about-container {
    font-size: 1rem;
  }

  .footer__about-list {
    font-size: 0.9325rem;
  }

  .footer__socials-list {
    gap: 1rem;
  }

  .footer__socials-icons a {
    width: 40px;
    height: 40px;
  }
}

/* Navbar */
.custom-navbar {
  position: relative;
  flex-grow: 1;
}

.nav-item.dropdown {
  position: static;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  pointer-events: none;
}

.nav-link {
  display: inline-block;
  color: white !important;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 0.75rem 0rem 0.5rem 0rem;
  font-size: 18px;
}

.nav-link:hover {
  background-color: black;
}

.ni3 {
  background-color: rgba(0, 0, 0, 0.201);
  font-weight: 400;
  font-size: 15px;
  padding: 0.75rem 0rem 0.75rem 1rem;

}

.ni3:hover {
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0.201);
}

.ni4 {
  display: inline-block;
  color: white;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 0.75rem 0rem 0.5rem 0rem;
  font-size: 18px;
  background-color: #c00;
  text-decoration: none;
}

.ni4:hover {
  color: rgba(255, 255, 255, 0.667);
}

.dropdown-menu {
  border-radius: 0%;
  padding: 1rem;
}

.lista {
  position: absolute;
  left: 0;
  right: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: smaller;
  background-color: rgba(0, 0, 0, 0.919);
  border: none;
}

.opcion-lista {
  text-decoration: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-weight: bold;
}

.encabezado {
  color: rgb(112, 116, 121);
  font-size: 18px;
  margin-bottom: 5px;
}

.titulo {
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.elemento {
  color: rgb(150, 148, 148);
  font-size: 13px;
}

.elemento:hover {
  color: #c00;
}

.titulo:hover {
  color: #c00;
}

.separador-elemento {
  color: rgb(150, 148, 148);
  font-size: 13px;
  text-decoration: none;
}